@import '../../../assets/style/vars.scss';

.story-out-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;

    .story-left-container {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 250px;
        padding-left: 250px;
        position: relative; // Ensure that the pseudo-element is positioned relative to this container

        h2 {
            font-size: 30px;
            margin-bottom: 15px;
            margin-top: 10px;
            font-weight: 700;
            position: relative;
            text-align: start;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px; // Adjust the position of the line below the text
                width: 100%;
                height: 2px; // Line thickness
                background-color: black; // Line color, same as h2 color
            }
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            text-align: start;
        }
    }

    .story-right-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .story-image {
            width: 30%;
            object-fit: contain;
            border-radius: 10px;
        }
    }
}

@media(max-width: 1550px){
    .story-out-container{
        .story-left-container{
            padding: 0 100px;
        }
    }
}

@media (max-width: 768px) {
    .story-out-container {
        flex-direction: column;
        padding-bottom: 20px;
        padding-top: 0;
        gap: 10px;

        .story-left-container {
            padding: 0 30px;
            text-align: center;

            h2 {
                font-size: 28px;
                text-align: start;

                &::after {
                    bottom: -8px; // Adjust the position for smaller screens
                    height: 1px; // Adjust thickness for smaller screens
                }
            }

            p {
                font-size: 17px;
                text-align: start;
            }
        }

        .story-right-container {
            .story-image {
                width: 90%;
            }
        }
    }
}

@media(max-width:500px){
    .story-out-container{
        .story-left-container{
            h2{
                font-size: 23px;
            }

            p{
                font-size: 13px;
            }
        }
    }
}