$logo-color : #B17E47;
$real-logo-color: #b47e00;
$light-color : #f7f7f7;
$blue-color: #171b8fc4;
$real-blue-color: #101363;
$secondary-color: #f2c75c;
$third-color: #fbd872;

$light-green: #CBE2B5;

$mobile-bp: 500px;