$logo-color : #B17E47;
$real-logo-color: #b47e00;
$light-color : #f7f7f7;
$blue-color: #171b8fc4;
$real-blue-color: #101363;
$secondary-color: #f2c75c;
$third-color: #fbd972a2;

$light-green: #CBE2B5;
$font-family: 'Playfair Display', 'Georgia', serif;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


$mobile-bp: 500px;