@import '../../../assets/style/vars.scss';

.about-vision-out-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: $secondary-color;
    // border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    .vision-out-container,
    .mission-out-container {
        background-color: lighten($secondary-color, 10%);
        padding: 30px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        width: 100%;
    }

    .vision-title,
    .mission-title {
        font-size: 34px;
        font-weight: 700;
        color: $real-blue-color;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        border-bottom: 4px solid lighten($real-blue-color, 20%);
        padding-bottom: 10px;
        width: fit-content;
        margin: 0 auto 20px auto;
    }

    .vision-details,
    .mission-details {
        font-size: 18px;
        font-weight: 500;
        color: $real-blue-color;
        line-height: 1.6;
    }
}

@media (max-width: $mobile-bp) {
    .about-vision-out-container {
        padding: 30px 20px ;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 10px;


        .vision-out-container,
        .mission-out-container {
            padding: 30px 10px;
            border-radius: 5px;
        }

        .vision-title,
        .mission-title {
            font-size: 25px;
            border-bottom-width: 3px;
            padding-bottom: 8px;
            margin-bottom: 15px;
        }

        .vision-details,
        .mission-details {
            font-size: 14px;
            line-height: 1.5;
        }
    }
}