@import '../../assets/style/vars.scss';

.catering-menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: $real-blue-color; // Background color for the whole section
    margin-bottom: 50px;

    .catering-menu-header {
        text-align: center;
        margin-bottom: 30px;

        h1 {
            font-size: 36px;
            font-family: "Rubik", sans-serif;
            color: $light-color;
            margin-bottom: 10px;
            text-shadow: $text-shadow; // Apply text-shadow if it's in your vars.scss
        }

        i {
            font-size: 18px;
            color: $light-color;
            text-shadow: $text-shadow; // Apply text-shadow if it's in your vars.scss
            max-width: 600px;
            margin: 0 auto;
        }
    }

    .catering-swiper {
        width: 80%;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.1); // Swiper's background color
        backdrop-filter: blur(5px);
        border-radius: 15px;
        box-shadow: $box-shadow; // Applying the new box-shadow variable

        .swiper-slide-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse; // Adjust flex direction if needed for RTL
            padding: 20px;

            .image-wrapper {
                flex: 0.4;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 10px;
                    box-shadow: $box-shadow; // Applying box-shadow to images as well
                }
            }

            .text-content {
                flex: 0.6;
                padding: 20px;
                text-align: left;
                color: $light-color;

                h2 {
                    font-size: 33px;
                    font-family: "Rubik", sans-serif;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    color: $secondary-color;
                    font-weight: bold;
                    text-shadow: $text-shadow; // Apply text-shadow if it's in your vars.scss
                }

                p {
                    font-size: 20px;
                    line-height: 1.8;
                    color: $secondary-color;
                    background-color: rgba(255, 255, 255, 0.1);
                    padding: 15px;
                    border-radius: 10px;
                    backdrop-filter: blur(10px);
                    box-shadow: $box-shadow; // Applying box-shadow to the description text box
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .catering-menu-container .catering-swiper {

        width: 90%;
        padding: 10px;
        margin: 20px ;

        .swiper-slide-content {
            flex-direction: column;
            align-items: center;
            padding: 10px;

            .image-wrapper {
                width: 100%;

                img {
                    height: 250px;
                }
            }

            .text-content {
                text-align: center;
                padding: 10px;

                h2 {
                    font-size: 25px;
                }

                p {
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .catering-menu-container .catering-menu-header {
        margin-bottom: 5px;

        h1 {
            font-size: 30px ;
            letter-spacing: 1px;
        }

        i {
            font-size: 15px !important;
        }
    }

    .catering-menu-container .catering-swiper .swiper-slide-content .text-content {
        h2 {
            font-size: 23px;
        }

        p {
            font-size: 14px;
            font-weight: 600;
        }
    }
}