@import '../../assets/style/vars.scss';

.catering-menu-container {
    padding: 2rem;
    text-align: center;
  
    .catering-menu-header {
      margin-bottom: 1rem;
  
      h2 {
        font-size: 2rem;
        color: #333;
      }
    }
  
    .catering-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
  
    .catering-card {
      position: relative;
      height: 550px;
      width: 450px;
      margin: 0.5rem;
      overflow: hidden;
  
      .image-wrapper {
        height: 90%;
        width: 85%;
        overflow: hidden;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      .text-content {
        position: absolute;
        bottom: 0px; // Position the text box outside the image
        right: 0;
        width: 60%;
        padding: 1rem;
        background-color: $logo-color;
        color: #fff;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform: translateY(0);
        opacity: 1;
      }
  
  
      h2 {
        margin: 0;
        font-size: 1.5rem;
        color: #fff;
      }
  
      p {
        margin: 0.5rem 0 0;
        font-size: 1rem;
        color: #ddd;
      }
    }
  }
  

  @media(max-width: 580px){
    .catering-menu-container{
        .catering-card{
            height: 450px;

            .image-wrapper{
                width: 90%;
            }

            .text-content{
            }
        }   
    }
  }