@import '../../../assets/style/vars.scss';

.home-details-out-container{
    padding: 50px 380px;
    padding-bottom: 100px;
    background-color: #f8f5f0;

    .home-details-top-container{
        display: flex;
        justify-content: start;
        align-items: center;

        img{
            width: 300px;
            height: 80px;
            margin-right: 15px;
        }

        div{
            font-weight: 400;
            color: $logo-color;
            letter-spacing: 10px;

        }
    }
    .home-details-bottom-container{
        font-size: 23px;
        color: $logo-color;
        font-family: "Rubik", sans-serif;
        letter-spacing: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }
}

@media (max-width : 1590px){
    .home-details-out-container{
        padding: 50px 300px;
        padding-bottom: 100px;
    }
}

@media (max-width : 1390px){
    .home-details-out-container{
        padding: 50px 200px;
        padding-bottom: 100px;
    }
}

@media (max-width : 1200px){
    .home-details-out-container{
        padding: 50px 100px;
        padding-bottom: 100px;
    }
}

@media (max-width : 900px){
    .home-details-out-container{
        padding: 50px ;
        padding-bottom: 100px;
    }
}


@media (max-width: 600px){
    .home-details-out-container{
        padding: 0;
        padding-left: 15px;
        padding-right: 10px;
        // padding-bottom: 80px;
        .home-details-top-container{
            img{
                width: 150px;
                margin-right: 2px;
                height: 50px;
            }
            div{
                font-size: 13px;
                letter-spacing: 5px;
            }

        }
        .home-details-bottom-container{
            font-size: 15px;
            margin-top: 8px;
            letter-spacing: 0;
            padding-bottom: 50px;
        }
    }
}