@import '../../assets/style/vars.scss';

.navbar-out-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: $real-blue-color;

    .navbar-logo-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $real-blue-color;

        .pi-align-justify {
            display: none;
        }

        .navbar-logo {
            width: 200px;
            height: 100%;
        }
    }

    .navbar-details-container {
        display: flex;
        gap: 50px;
        background-color: $logo-color;
        color: whitesmoke;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
        padding-right: 0px !important;
        padding-left: 0;
        overflow: hidden;
        margin: 0;
        margin-top: 5px;


        a {
            text-decoration: none;
            list-style-type: none;
            color: whitesmoke;
            align-content: center;
            font-size: 18px;



            &:hover {
                font-weight: bold;
            }

            &:active::after {
                color: black;
            }


        }

        a.link.visited {
            color: $real-blue-color ;
            font-weight: 1000;
        }




    }
}

@media (max-width:$mobile-bp) {
    .navbar-out-container {
        .navbar-logo-container {
            justify-content: start;

            .pi-align-justify {
                display: flex;
                position: absolute;
                color: $secondary-color;
                right: 20px;
                font-size: 25px;
            }
        }

        .navbar-details-container {
            visibility: hidden; // Initially hidden
            height: 0;
            opacity: 0;
            transform: translateY(-20px);
            padding: 0;
            justify-content: center;
            align-items: center;
            background-color: $logo-color;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(40px);
            transition: height 0.6s ease, opacity 0.6s ease, transform 0.6s ease, visibility 0s linear 0s; // Delay visibility
            width: 100%;


            a {
                color: white;
                font-weight: 400;
                font-size: 20px;
            }

        }


        .navbar-details-container.active {
            visibility: visible; // Become visible immediately
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin: 0;
            height: 35vh;
            opacity: 1;
            transform: translateY(0);
            padding: 0;
            transition: height 0.6s ease, opacity 0.6s ease, transform 0.6s ease, visibility 0s; // Remove delay when active
        }
    }
}