@import '../../assets/style/vars.scss';

.footer-out-container {
    width: 100%;
    background-color: $logo-color;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;



    .footer-top-container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // margin-left: 500px;
        // border-right: 1px dashed #f7f7f7;
        margin-left: 50px;

        .footer-logo {
            width: 90px;
        }

        .footer-social-container {
            display: flex;
            text-align: center;
            margin-top: 20px;
            color: white;
            gap: 10px;

            a {
                text-decoration: none;
                color: white;

                &:visited {
                    color: white;
                }
            }

            .pi-facebook {
                cursor: pointer;
            }

            .pi-instagram {
                cursor: pointer;
            }
        }
    }

    .footer-bottom-container {
        // width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // padding: 10px ;
        margin-left: 10px;
        gap: 10px;
        color: #f7f7f7;
        font-weight: 500;
        padding: 10px 0;
        font-size: 15px;

        .footer-produced-by {
            display: flex;
            flex-direction: column;
            gap: 2px;
            text-align: left;
            position: relative;
            // border-bottom: 1px dashed #f7f7f7;

        }

        .footer-details-container {
            text-align: left;
            gap: 2px;
            display: flex;
            flex-direction: column;

            b{
                margin-top: 20px;
                font-size: 12px ;
                letter-spacing: 1px;
                
                a{
                    color: white ;
                    text-decoration: none;
                    border-bottom: 1px solid white;

                    &:visited{
                        color: white;
                    }

                    &:default{
                        color: white;
                    }
                }

                
            }
        }
    }
}

@media (max-width: 800px) {
    .footer-out-container{
        gap: 10px;
        .footer-top-container{
            margin-left: 10px;

        }
        .footer-bottom-container{
            font-size: 13px;
            padding: 3px 0 ;

            .footer-details-container{
                gap: 3px;

                b{
                    font-size: 11px;
                }
            }
        }
    }
}