@import '../../assets/style/vars.scss';

.catering-intro-out-container{
    height: 50vh;
    background-image: url('../../assets/images/catering-background-intro.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}