@import '../../../assets/style/vars.scss';

.new-categories-out-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px;

    .new-about-out-container, .new-catering-out-container {
        width: 100%;
        display: flex;
        justify-content: start;
        }
    .new-retail-out-container{
        display: flex;
        justify-content: end;
        background-image: url('../../../assets/images/download.png');
        background-size:  20%;
        background-repeat: no-repeat;
        background-position: left ;
    }

    .new-about-card-container, .new-retail-card-container, .new-catering-card-container {
        overflow: hidden;
        display: flex;
        width: 70%;
        justify-content: space-between;
        height: 300px;
        align-items: center;
        // background-color: $logo-color;
        border: 4px solid $logo-color;
        border-radius: 20px;
        cursor: pointer;
        text-decoration: none;

        .new-about-img, .new-retail-img, .new-catering-img {
            flex: 1;
            width: 100%;
            height: 80% !important;
            object-fit: cover;
            border-radius: 20px;
            margin-left: 20px;
            margin-right: 10px;
        }

        .new-about-card, .new-retail-card, .new-catering-card {
            flex: 2;
            height: 80%;
            color: $logo-color;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 20px;
            justify-content: start;
            font-size: 20px;
            margin-left: 10px;
            margin-right: 20px;
        }
    }
}

@media (max-width: 700px) {
    .new-categories-out-container {
        .new-catering-out-container, .new-about-out-container, .new-retail-out-container {
            justify-content: center;
            .new-catering-card-container, .new-about-card-container, .new-retail-card-container {
                height: auto;
                flex-direction: column;
                width: 90%;

                .new-catering-img, .new-about-img, .new-retail-img {
                    margin-top: 20px;
                    width: 90%;
                    object-fit: cover;
                }

                .new-catering-card, .new-about-card, .new-retail-card {
                    font-size: 15px;
                    margin: 0;
                    padding-top: 0;

                    h3 {
                        padding-left: 20px;
                    }

                    div {
                        padding-left: 20px;
                        padding-right: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
