@import '../../../assets/style/vars.scss';

.new-categories-out-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px;


   

    .new-about-out-container {
        width: 100%;
        display: flex;
        justify-content: start;


        .new-about-card-container {
            overflow: hidden;
            display: flex;
            // flex-direction: column;
            // width: 350px;
            width: 60%;
            justify-content: space-between;
            // margin-left: 60px;
            // margin-right: 60px;
            height: 300px;
            align-items: center;
            // background-color: rgba(165, 42, 42, 0.233);
            // background-color: #CBE2B5;
            background-color: $logo-color;
            border-radius: 20px;
            cursor: pointer;
            text-decoration: none;


            .new-about-img {
                flex: 1;
                width: 100%;
                height: 80% !important;
                object-fit: cover;
                border-radius: 20px;
                margin-left: 20px;
                margin-right: 10px;
                // height: 70%;
            }

            .new-about-card {
                flex: 2;
                height: 80%;
                // padding-top: 5px;
                // padding-bottom: 5px;
                margin: 0;
                color: $light-color;
                width: 100%;
                // background-color: white;
                display: flex;
                flex-direction: column;
                padding: 20px;
                justify-content: start;
                font-size: 20px;
                margin-left: 10px;
                margin-right: 20px;
            }
        }
    }

    .new-retail-out-container {
        display: flex;
        justify-content: end;

        .new-retail-card-container {
            overflow: hidden;
            display: flex;
            // flex-direction: column;
            // width: 350px;
            width: 60%;
            justify-content: space-between;
            // margin-left: 60px;
            // margin-right: 60px;
            height: 300px;
            align-items: center;
            // background-color: rgba(165, 42, 42, 0.233);
            // background-color: #CBE2B5;
            background-color: $logo-color;
            border-radius: 20px;
            cursor: pointer;
            text-decoration: none;


            .new-retail-img {
                flex: 1;
                width: 100%;
                height: 80% !important;
                object-fit: cover;
                border-radius: 20px;
                margin-left: 20px;
                margin-right: 10px;
                // height: 70%;
            }

            .new-retail-card {
                flex: 2;
                height: 80%;
                // padding-top: 5px;
                // padding-bottom: 5px;
                margin: 0;
                color: $light-color;
                width: 100%;
                // background-color: white;
                display: flex;
                flex-direction: column;
                padding: 20px;
                justify-content: start;
                font-size: 20px;
                margin-left: 10px;
                margin-right: 20px;
            }
        }
    }
    .new-catering-out-container {
        width: 100%;
        display: flex;



        .new-catering-card-container {
            overflow: hidden;
            display: flex;
            // flex-direction: column;
            // width: 350px;
            width: 60%;
            justify-content: space-between;
            // margin-left: 60px;
            // margin-right: 60px;
            height: 300px;
            align-items: center;
            // background-color: rgba(165, 42, 42, 0.233);
            // background-color: #CBE2B5;
            background-color: $logo-color;
            border-radius: 20px;
            cursor: pointer;
            text-decoration: none;


            .new-catering-img {
                flex: 1;
                width: 100%;
                height: 80% !important;
                object-fit: cover;
                border-radius: 20px;
                margin-left: 20px;
                margin-right: 10px;
                // height: 70%;
            }

            .new-catering-card {
                flex: 2;
                height: 80%;
                // padding-top: 5px;
                // padding-bottom: 5px;
                margin: 0;
                color: $light-color;
                width: 100%;
                // background-color: white;
                display: flex;
                flex-direction: column;
                padding: 20px;
                justify-content: start;
                font-size: 20px;
                margin-left: 10px;
                margin-right: 20px;
            }
        }
    }
}
@media (max-width: 1000px) {
    .new-categories-out-container{
        .new-catering-out-container{
            justify-content: center;
            .new-catering-card-container{
                height: auto;
                flex-direction: column;
                width: 90%;
                .new-catering-img{
                    margin-top: 20px;
                    width: 90%;
                    object-fit: cover;
                }
                .new-catering-card{
                    font-size: 15px;
                    margin: 0;
                    padding-top: 0;
                    
                    h3{
                        padding-left: 20px;
                    }
                    
                    div{
                        padding-left: 20px;
                        padding-right: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .new-about-out-container{
            justify-content: center;
            .new-about-card-container{
                height: auto;
                flex-direction: column;
                width: 90%;
                .new-about-img{
                    margin-top: 20px;
                    width: 90%;
                    object-fit: cover;
                }
                .new-about-card{
                    font-size: 15px;
                    margin: 0;
                    padding-top: 0;
                    
                    h3{
                        padding-left: 20px;
                    }
                    
                    div{
                        padding-left: 20px;
                        padding-right: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .new-retail-out-container{
            justify-content: center;
            .new-retail-card-container{
                height: auto;
                flex-direction: column;
                width: 90%;
                .new-retail-img{
                    margin-top: 20px;
                    width: 90%;
                    object-fit: cover;
                }
                .new-retail-card{
                    font-size: 15px;
                    margin: 0;
                    padding-top: 0;
                    
                    h3{
                        padding-left: 20px;
                    }
                    
                    div{
                        padding-left: 20px;
                        padding-right: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
