@import '../../assets/style/vars.scss';

.retail-intro-out-container{
    height: 50vh ;
    background-image: url('../../assets/retailImages/retail-background-intro.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;

}