@import '../../assets/style/vars.scss';

.retail-gallery-out-container{
    // height: 50vh;
    text-align: center;
    margin-bottom: 50px;

    .retail-gallery-top-container{
        padding: 20px 50px;
        font-size: 40px;
        font-weight: bold;
        font-family: "Rubik", sans-serif;

    }

    .retail-gallery-card-out-container {
        .retail-gallery-card-img {
            img {
                width: 100%;
                height: 240px;
                object-fit: cover;
            }
        }
    }
}