    @import '../../assets/style/vars.scss';


    .retail-menu-out-container {
        display: flex;
        flex-direction: column;
        padding: 30px;

        .retail-menu-top-container {
            margin-top: 30px;

            .retail-menu-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                gap: 8px;

                div {
                    font-weight: bold;
                }

                i {
                    font-size: 25px;
                    font-weight: 300;
                }
            }
        }

        .retail-menu-bottom-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            gap: 7px;

            .retail-menu-food-container {
                flex: 1;
                padding: 20px 50px;
                display: flex;
                background-color: $logo-color;
                border-radius: 10px;
                text-decoration: none;

                img {
                    width: 80px;
                }

                span {
                    display: flex;
                    align-items: center;
                    margin-left: 30px;
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 27px;

                }

            }

            .retail-menu-sweets-container {
                flex: 1;
                padding: 20px 50px;
                display: flex;
                background-color: $logo-color;
                border-radius: 10px;
                text-decoration: none;

                img {
                    width: 80px;
                    color: wheat;
                }

                span {
                    margin-left: 30px;
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 27px;
                }
            }
        }

        .packages-section {
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;

            a {
                color: $logo-color;
                border: 2px $logo-color solid;
                border-radius: 10px;
                text-decoration: none;
                padding: 20px;
                font-size: 25px;
                transition: 0.3s all ease-in;

                &:hover {
                    background-color: $logo-color;
                    color: white;
                    transition: 0.3s all ease-in;
                }
            }
        }
    }

    @media (max-width: 1350px) {
        .retail-menu-out-container {
            .retail-menu-top-container {
                .retail-menu-title {
                    text-align: center;

                    i {
                        font-size: 17px;
                        text-align: center;
                    }
                }
            }

            .retail-menu-bottom-container {
                display: flex;
                flex-direction: column;

                .retail-menu-food-container {

                    width: 80%;

                    img {
                        height: 70px;
                        width: 70px;
                    }

                    span {
                        font-size: 22px;
                    }
                }

                .retail-menu-sweets-container {
                    width: 80%;

                    img {
                        height: 70px;
                        width: 70px;
                    }

                    span {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    @media (max-width: 800px) {
        .retail-menu-out-container {
            .retail-menu-bottom-container {
                .retail-menu-food-container {
                    width: 95%;
                    padding: 15px 30px;

                    span {
                        font-size: 18px;
                    }
                }

                .retail-menu-sweets-container {
                    width: 95%;
                    padding: 15px 30px;

                    span {
                        font-size: 18px;
                    }
                }
            }

            .packages-section {
                a{
                    padding: 15px;
                    font-size: 20px;
                }
            }
        }
    }